.bg-azul{
    background-color: blue;
}

/* navbar */
.navbar{
    background-color: cornsilk;
}

.colapse{
    justify-content: flex-end;
}

.nav-link{
    color:midnightblue;
    font-weight: bold;
}

/* mudar cor da fonte ao pasar o mouse*/
.nav-link:hover{
    color:blueviolet;
}

.active a{
    color:white;
    /*Navbar Fim*/
}

.header{
    background-image: url(public/images/banner1.png);

} 
.description{
    left: 50%;
    position: absolute;
    top: 45%;
    text-align: center;
    transform: translate(-50%, -55%);

}

.description h1{
    color:teal;
}

.description p{
    color: white;
    left: 50%;
    position: absolute;
    top: 45%;
    text-align: center;
    transform: translate(-50%, -55%);
}

.overlay{
    position:absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 5); 
  }